/* @tailwind base;
@tailwind components;
@tailwind utilities;
 */
 .todo-container {
  max-width: 200px;
  margin: 0 auto;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

.input-container {
  margin-bottom: 20px;
}

input[type='text'] {
  padding: 10px;
  width: 20%;
  border: 3px solid #111111;
  border-radius: 8px;
}

button {
  padding: 9px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 9px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 10;
}

li {
  margin-bottom: 20px;
}

li button {
  margin-left: 20px;
  background-color: #dc3545;
}
